.ui.right.sidebar.inverted.vertical.menu#mainSb
  .image.item
    img(src='/images/default_banner.png')
  .item Version 0.2.5
  //- Busqueda en móviles
  if(settings.features.threadSearch)
    form.mvisible#mSearch(method='get', action='/search')
      .ui.transparent.inverted.icon.input.item
        input.prompt(placeholder='Buscar Hilos...', type='text', name='q')
        i.inverted.circular.link.search.icon(onclick='document.getElementById("mSearch").submit();')
  .item
    .ui.teal.icon.button#settingsBtn(style='width: 100%;')
      i.settings.icon
      | Opciones
