extends layout

block content
  center
    img(src='/images/apiLogo.png')
    h1 Hispachan Files API
    p De momento, Hispachan Files como tal no tiene una API definida.
    p Sin embargo, puedes obtener los datos de cualquier hilo en formato JSON
    br
    p Símplemente añade ?json al final de la URL, por ejemplo
    pre= settings.site.url + '/g/res/2259040.html?json'
    br
    br
    h1 API no-oficial de Hispachan
    br
    p Esta API funciona parseando el HTML de Hispa para convertirlo en JSON plano. (también soporta JSONP y XML)
    p Se encuentra en una etapa temprana de desarrollo, así que úsalo bajo tu propio riesgo.
    p Durante el proceso de almacenamiento de un hilo, Hispachan Files utiliza las mismas librerías para parsear los hilos.
    br
    h2 ¿Qué se puede hacer de momento?
    h4 Obtener el contenido de los hilos en JSON plano
    pre #{settings.site.url}/api/hispachan/{board}/res/{id}.html
    p(style="opacity:.5") (.html es opcional)
    p Parsea un hilo entero y regresa su contenido y metadatos en formato JSON.
    h4 Obtener las páginas de los boards en JSON plano
    pre #{settings.site.url}/api/hispachan/{board}/{pagina}.html
    p(style="opacity:.5") (.html es opcional, si no se específica {pagina}, se obtendrá la página 0)
    p Parsea una página de board entera, incluyendo las 3 últimas respuestas de cada hilo y sus respectivos metadatos
    br
    h2 ¿Qué se podrá hacer en un futuro?
    h4 Obtener el catálogo de los boards
    h4 Acceso a las estadísticas públicas de Hispachan
    h4 Búsqueda de hilos
    p Postear cosas directamente desde la API no está planificado (y probablemente nunca lo esté) por motivos de seguridad.
    p Si pretendes hacer una app de hispa que no sea sólo para lurkear, deberás hacer los posts directamente al servidor de hispachan.
    p Quizá mirando el código de Kusaba X se te haga un poco mas sencillo.
    br
    br
    p De momento, no hay documentación formal, pero la API es fácil de entender si miras los datos devueltos por la misma.
    p Puedes probar desde el navegador con unos cuantos hilos, si quieres. Firefox tiene un visor de JSON integrado.