doctype html
html(lang='es')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/semantic/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/css/nprogress.css')
    link#mainStyle(rel='stylesheet', href='/stylesheets/'+ settings.styles.defaultStyle +'.css')
  body#app
    script(src='/dist/app.min.js')
    script(src='/semantic/semantic.js')
    include components/sidebar
    .pusher
      include components/topbar
      #mainContent
        block content
      include components/footer
    include components/settingsModal
