/*
 * Estilo Hispachan
 *
 * Porteado manualmente desde hispachan.org
 */

// Colores
$bg-color:      #ffffee;
$fg-color:      #800000;
$bg-accent:     #bd0003;
$fg-accent:     #FFF9C4;
$link-color:    #e04000;
$link-hover:    #1f8f2a;
$pb-background: #F2E1D6;
$pb-foreground: #a60000;
$pb-border:     #DDBEAB;
$pb-highlight:  #E1E1E1;
$greentext:     #1A7D24;
$ommited-posts: #AB5C5C;
$abbrev-color:  #9C4040;
$highlight-fg:  #4F2C2C;
$highlight-bg:  #F0D1BD;
$highlight-bo:  #B3917B;
$divider-color: #C4A38E;
$code-bg:       #F4E9E1;
$code-border:   #C6865E;
$doubledash:    #CE7C7C;
$postername:    #1f8f2a;
$filetitle:     #a60000;

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


// Estilos base
@import 'HispachanFiles';
@import 'ku/imageboard';
@import 'ku/hispaboard';
@import 'ku/hispamovil';