html, body
{
    background: $bg-color;
    color: $fg-color;
    
    #hispaBox
    {
        font-family: sans-serif;
        font-size: 90%;
        line-height: 130%;
        max-width: 1280px;
        margin: 0 auto 0 auto;
    }
}

a
{
    color: $link-color;
    text-decoration: none;
    &.reflink
    {
        font-weight: bold;
    }
    &:hover
    {
        color: $link-hover;
    }
}

.logo {
	clear:both;
	text-align:center;
	padding-top:8px;
	padding-bottom:10px;
	font-size:220%;
	font-weight:bold;
	line-height:120%;
	color:$link-color;
	width:100%;
}

.replymode, .catalogmode
{
    background: $bg-accent;
    color: $fg-accent;
    text-align: center;
    padding: { top: 10px; bottom: 10px; }
    margin: { top: 10; bottom: 10px; }
    font: { weight: bold; size: 120%; }
    width: 100%;
    @include border-radius(4px);
}

.reply, .cellcatalog, .numeros
{
    background: $pb-background;
    color: $pb-foreground;
    padding: 5px;
    border: 1px solid $pb-border;
    @include border-radius(4px);
    margin: 2px;
}

table {
    margin: 4px;
}

.postblock
{
    @extend .reply;
    text-align: center;
    font-weight: bold;
}

.unkfunc
{
    background: inherit;
    color: $greentext;
}

.filesize { text-decoration: none; }
.filetitle { background: inherit; color: $filetitle; font-weight: bold; }

.postername, .postertrip { color: $postername; }
.postername { font-weight: bold; }

.omittedposts { color: $ommited-posts; }

.replyhl
{
    @extend .reply;
    color: $fg-color;
}

.doubledash {
	vertical-align:top;
	clear:both;
	float:left;
}

.thumbnailmsg {
	font-size:small;
	color: $fg-color;
}

.abbrev
{
    color: $abbrev-color;
    padding-top: 20px;
}

.highlight {
	background: $highlight-bg;
	color: $highlight-fg;
	border:1px solid  $highlight-bo;
	padding:5px;
	@include border-radius(5px);
}

.reflinkpreview
{
    background-color: $bg-color;
    border: 1px solid $pb-border;
}

hr
{
    height: 1px;
    color: $divider-color;
    background-color: $divider-color;
    border: none;
}

.code {
	background:$code-bg;
	border:1px solid $code-border;
}

.doubledash {
	color: $doubledash;
}

.diverror {
    @extend .reply;
	line-height:130%;
	padding:15px;
}

.divban {
	@extend .reply;
	text-align:center;
	padding:20px 20px 22px 20px;
	margin:4px auto;
	margin-top:-20px;
	max-width:800px;
}
.divboardphp {
	font-family:sans-serif;
	font-size:140%;
	line-height:130%;
	padding-top:10px;
}

/*
@import url("https://www.hispachan.org/css/hispachancodeclaro.css");



.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}

.replytitle {
	font-size:1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
	color:#FFFFFF;
	font-weight:800;
}

.reporte {
	text-align:right;
	border:1px solid #DDBEAB;
	background:#F2E1D6;
	padding:8px;
	margin-bottom:5px;
	border-radius:5px;
}

.barra {
	font-size:120%;
	line-height:140%;
	border:1px solid #DDBEAB;
	background:#F7E8DF;
	padding:5px;
	border-radius:5px;
}

*/
